@font-face {
    font-family: Poppin;
    src: url(font/PoppinsRegular.ttf);
}
@font-face {
    font-family: PoppinBold;
    src: url(font/FZ\ Poppins-Bold.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.4s;
    list-style: none;
}
body{
    font-family: Poppin;
}
a{
    text-decoration: none;
}
#header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 80px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 99;
}
#header__title{
    color: #2F4157;
    font-size: 36px;
    font-family: PoppinBold;
    flex-grow: 1;
}
#header__link{
    font-size: 16px;
    font-family: PoppinBold;
    display: flex;
    align-items: center;
    color: #2F4157;
}
#header__link--icon{
    width: 36px;
    height: 36px;
    color: #2F4157;
}
#header__link:hover #header__link--icon{
    transform: translate(20%, 0);
}
#header__dropdown{
    padding: 0;
    position: relative;
    display: inline-block;
}



.header__dropdown__content{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #ffffff;
    border: 4px solid #577C8E;
    border-radius: 10px;
    top: 100%;
    left: 0;
    text-align: left;
    padding: 15px 20px;
    min-width: 200px;
    margin-top: 30px;
    height: 400px;
    transition: all 400ms cubic-bezier(.445,.05,.55,.95);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#header__dropdown:hover .header__dropdown__content{
    opacity: 1;
    visibility: visible;
}
.header__dropdown__content--faculty--link{
    position: relative;
    font-size: 16px;
    color: #2F4157;
    font-family: PoppinBold;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__dropdown__content--faculty--link--image{
    width: 30px;
}
.header__dropdown__content--faculty--link span{
    position: relative;
}
.header__dropdown__content--faculty--link:hover .header__dropdown__content--faculty--link--image{
    transform: translate(20%, 0);
}
.header__dropdown__content--major{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 4px solid #577C8E;
    border-radius: 10px;
    left: 100%;
    top: 0;
    margin-top: -4px;
    text-align: left;
    padding: 15px 20px;
    min-width: 100px;
    width: 100%;
    height: 400px;
    transition: all 400ms cubic-bezier(.445,.05,.55,.95);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header__dropdown__content--faculty:hover .header__dropdown__content--major{
   visibility: visible;
   opacity: 1;
}
.header__dropdown__content--major--link a{
    font-size: 16px;
    color: #2F4157;
    font-family: PoppinBold;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 30px;
}
.header__dropdown__content--major--link a img{
    width: 30px;
}
#header__button{
    width: 150px;
    height: 60px;
    border: 2px solid #577C8E;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #577C8E;
    font-family: PoppinBold;
    font-size: 16px;
    color: #2F4157;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__dropdown__content--major--link:hover .header__dropdown__content--major--link--image{
    transform: translate(20%, 0);
}
#header__button:hover{
    background-color: #F4EFEB;
    color: #577C8E;
}
#header__button--highlight{
    width: 150px;
    height: 60px;
    border: 2px solid #2F4157;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #577C8E;
    font-family: PoppinBold;
    font-size: 16px;
    color: #ffffff;
    background-color: #2F4157;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header__button--highlight:hover{
    background-color: #ffffff;
    color: #2F4157;
}
#header__button:active, #header__button--highlight:active{
    box-shadow: 0px 0px #577C8E;
    transform: translate(4px, 4px);
    transition: 0s;
}
#header__bar{
    display: none;
}
#sidebar{
    position: absolute;
    top: 100%;
    right: -400px;
    z-index: 100;
    transition: all 400ms cubic-bezier(.445,.05,.55,.95);
    background-color: #F4EFEB;
    border: 4px solid #577C8E;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    min-width: 200px;
    transition: all 400ms cubic-bezier(.445,.05,.55,.95);
}
#header__sidebar__button{
    display: flex;
    gap: 20px;
}
#header__sidebar--button{
    width: 120px;
    height: 40px;
    border: 2px solid #577C8E;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #577C8E;
    font-family: PoppinBold;
    font-size: 14px;
    color: #2F4157;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header__sidebar--button:hover{
    background-color: #F4EFEB;
    color: #577C8E;
}
#header__sidebar--highlight{
    width: 120px;
    height: 40px;
    border: 2px solid #2F4157;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #577C8E;
    font-family: PoppinBold;
    font-size: 14px;
    color: #ffffff;
    background-color: #2F4157;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header__sidebar--highlight:hover{
    background-color: #ffffff;
    color: #2F4157;
}
#header__sidebar--button:active, #header__sidebar--highlight:active{
    box-shadow: 0px 0px #577C8E;
    transform: translate(4px, 4px);
    transition: 0s;
}
#header__sidebar__content{
    display: flex;
    padding: 20px;
}
.sidebar__down{
    font-family: PoppinBold;
    font-size: 16px;
    color: #2F4157;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__sidebar__content--major, .sub-category {
    max-height: 0; /* Initially hidden */
    overflow: hidden;
    margin-left: 20%;
    width: 100%;
    transition: max-height 0.4s ease; /* Smooth height transition */
}

.menu-item a, .sub-category a {
    font-size: 14px;
    font-family: PoppinBold;
    color: #2F4157;
    display: flex;
    padding: 5px 0;
}

/* When the menu is open, allow it to expand */
.header__sidebar__content--major.open, .sub-category.open {
    max-height: 100%; /* Adjust this value based on content */
}

.arrow__icon, .category-arrow {
    transition: transform 0.3s ease; /* Smooth rotation animation */
}

/* Rotated state for the arrow icon */
.rotate {
    transform: rotate(90deg); /* Rotates the arrow 90 degrees clockwise */
}

#path1, #path3 {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#path2 {
    transition: opacity 0.3s ease;
}
#toggleIcon {
    cursor: pointer;
    transition: all 0.3s ease;
}
#path1, #path3 {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#path2 {
    transition: opacity 0.3s ease;
}
.active #path1 {
    transform: rotate(45deg) translate(22%, -30%);
}
.active #path2 {
    opacity: 0; /* Ẩn */
}
.active #path3 {
    transform: rotate(-45deg) translate(-50%, 0%);
}
/* Default state for the arrow icon (pointing right) */
.arrow__icon {
    transition: transform 0.3s ease; /* Smooth rotation animation */
}
 
/* Rotated state for the arrow icon (pointing down) */
.rotate {
    transform: rotate(90deg); /* Rotates the arrow 90 degrees clockwise */
}
  
main{
    padding-top: 100px;
    overflow: hidden;
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(circle at 86% 20%, #2f415799 0px, transparent 20%),
    radial-gradient(circle at 76% 2%, #577c8e89 0px, transparent 12%),
    radial-gradient(circle at 10% 12%, #577c8ea3 0px, transparent 20%);
}
#overview{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 80px;
}
#overview__text{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
#overview__text--title{
    font-family: PoppinBold;
    font-size: 36px;
    color: #2F4157;
}
#overview__text--mission{
    font-family: Poppin;
    font-size: 20px;
    color: #2F4157;
}
#overview__text--btn{
    width: 150px;
    height: 60px;
    border: 2px solid #2F4157;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #577C8E;
    font-family: PoppinBold;
    font-size: 16px;
    color: #ffffff;
    background-color: #2F4157;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overview__text--btn:hover{
    background-color: #ffffff;
    color: #2F4157;
}
#overview__text--btn:active{
    box-shadow: 0px 0px #577C8E;
    transform: translate(4px, 4px);
    transition: 0s;
}
#overview__img{
    width: 500px;
    height: 600px;
    overflow: hidden;
    border-radius: 60px;
    border: 4px solid #2F4157;
    position: relative;
}
#overview__img img{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#overview__background{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 960px;
    overflow: hidden;
    background-color: #ffffff;
}
#overview__background--iteam1{
    position: absolute;
    top: -150vh;
    left: -30vw;
}
#overview__background--iteam2{
    position: absolute;
    top: -10vh;
    right: 10vw;
}
#overview__background--iteam3{
    position: absolute;
    top: 10vh;
    left: 20vw;
}
#description{
    padding: 80px;
    z-index: 1;
}
#description__about{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}
#description__about--text{
    font-family: PoppinBold;
    color: #2F4157;
    font-size: 16px;
}
#description__about--line{
    display: flex;
    align-content: center;
    justify-content: center;
}
#description__content{
    font-family: PoppinBold;
    font-size: 36px;
    text-align: justify;
    color: #2F4157;
}
#description__tagline{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-direction: row-reverse;
}
#description__tagline--text{
    font-family: PoppinBold;
    color: #2F4157;
    font-size: 16px;
}
#description__tagline--line{
    display: flex;
    align-content: center;
    justify-content: center;
}
#faculty{
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
}
.faculty__card{
    width: 250px;
    height: 300px;
    border: 4px solid #2F4157;
    border-radius: 30px;
    box-shadow: 8px 8px 0 #2F4157;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}
.faculty__card--img{
    width: 160px;
    height: 160px;
}
.faculty__card--text{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: PoppinBold;
    text-align: center;
    color: #2F4157;
}
.scroller__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}
.scroller[data-speed="fast"] {
    --_animation-duration: 10s;
}
@keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
} 
#somecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 80px 0 80px 80px;
}
#somecontent__text{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#somecontent__text--head{
    font-family: PoppinBold;
    font-size: 36px;
    color: #2F4157;
}
#somecontent__text--sub{
    font-family: Poppin;
    font-size: 24px;
    color: #2F4157;
}
#somecontent__content{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.somecontent__content--iteam{
    height: 120px;
    background-color: #ffffff;
    border-bottom: 4px solid #2F4157;
    border-left: 4px solid #2F4157;
    border-top: 4px solid #2F4157;
    border-right: none;
    border-radius: 20px 0 0 20px;
    padding-right: 80px;
    display: flex;
    padding-left: 20px;
    box-shadow: 8px 8px 0 #2F4157;
}
.somecontent__content--iteam--wrap{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.somecontent__content--iteam--wrap img{
    width: 80px;
    height: 80px;
}
.somecontent__content--iteam--txt1{
    font-family: PoppinBold;
    font-size: 36px;
    color: #2F4157;
}
.somecontent__content--iteam--txt2{
    font-family: Poppin;
    font-size: 24px;
    color: #2F4157;
}
#instructor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #2F4157;
    border-radius: 60px;
    padding: 0 80px;
}
#instructor__img{
    height: 640px;
}
#instructor__img img{
    height: 100%;
}
#instructor__text{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#instructor__text--head{
    font-family: PoppinBold;
    font-size: 36px;
    color: #ffffff;
    text-align: right;
}
#instructor__text--sub{
    font-family: Poppin;
    font-size: 24px;
    color: #ffffff;
    text-align: right;
}
#course{
    padding: 80px;
}
#course__title{
    font-family: PoppinBold;
    font-size: 36px;
    color: #2F4157;
    padding-bottom: 20px;
}
#course__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.course__card{
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #577C8E;
    box-shadow: 4px 4px 0 #577C8E;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 10px;
}
.course__card:hover{
    background-color: #F4EFEB;
}
.course__card:active{
    box-shadow: 0 0;
    transform: translate(4px, 4px);
    transition: 0s;
}
.course__card--img{
    height: 140px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.course__card--img img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.course__card--content{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.course__card--content--title{
    font-family: PoppinBold;
    font-size: 20px;
    color: #2F4157;
}
.course__card--content--price{
    font-family: PoppinBold;
    font-size: 20px;
    color: #577C8E;
}
.course__card--content--star{
    display: flex;
    align-items: center;
    gap: 10px;
}
.course__card--content--star:first-child{
    font-family: PoppinBold;
    font-size: 16px;
    color: #2F4157;
}
#course__button{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
}
#course__button--btn{
    width: 150px;
    height: 60px;
    border: 2px solid #2F4157;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #577C8E;
    font-family: PoppinBold;
    font-size: 16px;
    color: #ffffff;
    background-color: #2F4157;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#course__button--btn:hover{
    background-color: #ffffff;
    color: #2F4157;
}
#course__button--btn:active{
    box-shadow: 0px 0px #577C8E;
    transform: translate(4px, 4px);
    transition: 0s;
}
#story{
    padding: 80px 0;
}
#story__title{
    width: 100%;
    font-family: PoppinBold;
    font-size: 36px;
    color: #2F4157;
    padding: 0 0 20px 80px;
}
#story__cards{
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 80px 10px 80px;
}
#story__cards::-webkit-scrollbar {
    display: none;
}
.story__card{
    min-width: 600px;
    background-color: #ffffff;
    box-shadow: 4px 4px 0 #2F4157;
    border-radius: 20px;
    border: 4px solid #2F4157;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.story__card--img{
    height: 240px;
    width: 240px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.story__card--img img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.story__card--txt{
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.story__card--txt--title{
    font-family: PoppinBold;
    font-size: 20px;
    color: #2F4157;
}
.story__card--txt--sub{
    font-family: Poppin;
    font-size: 16px;
    color: #2F4157;
}
#collab{
    width: 100%;
    padding: 80px 0;
    overflow: hidden;
}
#collab__title{
    font-family: PoppinBold;
    font-size: 36px;
    color: #2F4157;
    padding-bottom: 20px;
    text-align: center;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 80px;
    position: relative;
    overflow: hidden;
    background-color:#ffffff;
    background-image:
        radial-gradient(circle at 9% 47%, #577C8E 0px, transparent 90%),
        radial-gradient(circle at 94% 29%, #2F4157 0px, transparent 80%),
        radial-gradient(circle at 77% 73%, #577C8E 0px, transparent 50%);
}
#footer__info{
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
    padding: 40px 0;
}
#footer__info--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#footer__info--contact{
    color: #ffffff;
    font-family: Poppin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
#footer__info--logo--title{
    color: #ffffff;
    font-size: 36px;
    font-family: PoppinBold;
    flex-grow: 1;
}
#footer__info--about--title, #footer__info--learning--title{
    color: #ffffff;
    font-size: 20px;
    font-family: PoppinBold;
}
#footer__info--about--content, #footer__info--learning--content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    font-family: Poppin;
    padding-top: 10px;
    font-size: 16px;
}
#footer__line{
    width: 100%;
    border-top: 2px dashed #ffffff;
    z-index: 1;
}
#footer__copyright{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    z-index: 1;
}
#footer__copyright--text{
    font-family: PoppinBold;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer__copyright--icon{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#footer__background-iteam1{
    position: absolute;
    top: -40vh;
    left: 0vw;
    z-index: 0;
}
#footer__background-iteam2{
    position: absolute;
    top: -50vh;
    right: 40vw;
    z-index: 0;
}
#footer__background-iteam3{
    position: absolute;
    bottom: -30vh;
    left: 30vw;
    z-index: 0;
}
.chat-bubble {
    position: fixed;
    bottom: 20px; /* Cách đáy màn hình 20px */
    right: 20px; /* Cách phải màn hình 20px */
    width: 80px;
    height: 80px;
    background-color: #577C8E;
    padding: 10px;
    border-radius: 40px;
    z-index: 10;
    transition: bottom 0s ease; /* Hiệu ứng di chuyển mượt */
}
@media screen and (max-width: 1200px){
    #header{
        padding: 10px 60px;
    }
    #overview{
        padding: 60px;
        gap: 20px;
    }
    #overview__text{
        gap: 20px;
    }
    #overview__img{
        width: 460px;
    }
    #description{
        padding: 60px;
    }
    #description__content{
        font-size: 24px;
    }
    #somecontent{
        gap: 20px;
        padding: 60px 0 60px 60px;
    }
    #somecontent__text{
        gap: 20px;
    }
    .somecontent__content--iteam{
        padding-right: 60px;
    }
    .somecontent__content--iteam--wrap{
        width: 360px;
    }
    #instructor{
        gap: 20px;
        padding: 0 60px;
    }
    #course{
        padding: 60px;
    }
    #story{
        padding: 60px 0;
    }
    #story__title{
        padding: 0 0 20px 60px;
    }
    #story__cards{
        padding: 0 60px 10px 60px;
    }
    #collab{
        width: 100%;
        padding: 60px 0;
        overflow: hidden;
    }
    .footer{
        padding: 0 40px;
    }
    #footer__info{
        gap: 20px;
        padding: 20px 0;
    }
    #footer__copyright{
        padding: 20px 0;
    }
}
@media screen and (max-width: 1000px){
    #header{
        padding: 10px 40px;
    }
    #header__logo{
        width: 60px;
    }
    #header__title{
        font-size: 24px;
    }
    #header__link, #header__button, #header__button--highlight{
        display: none;
    }
    #header__bar{
        display: inline;
        height: 40px;
        width: 40px;
    }
    #header__bar img{
        width: 100%;
    }
    main{
        padding-top: 80px;
    }
    #overview{
        padding: 40px;
    }
    #overview__text--title{
        font-size: 24px;
    }
    #overview__text--mission{
        font-size: 16px;
    }
    #overview__text--btn{
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
    #overview__img{
        height: 400px;
        width: 360px;
    }
    #description{
        padding: 40px;
    }
    #description__about--text, #description__tagline--text{
        font-size: 14px;
    }
    #description__content{
        font-size: 24px;
    }
    #faculty{
        padding: 40px 0;
    }
    .faculty__card{
        width: 160px;
        height: 200px;
    }
    .faculty__card--img{
        width: 100px;
        height: 100px;
    }
    .faculty__card--text{
        width: 140px;
        height: 80px;
        font-size: 16px;
    }
    #somecontent{
        padding: 40px;
        flex-direction: column;
    }
    #somecontent__text--head{
        font-size: 24px;
    }
    #somecontent__text--sub{
        font-size: 16px;
    }
    #somecontent__content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .somecontent__content--iteam{
        border: 4px solid #2F4157;
        border-radius: 20px;
        padding: 20px;
        height: 100%;
    }
    .somecontent__content--iteam--wrap{
        flex-direction: column;
        width: 100%;
    }
    .somecontent__content--iteam--wrap img{
        width: 60px;
        height: 60px;
    }
    .somecontent__content--iteam--txt{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .somecontent__content--iteam--txt1{
        font-size: 24px;
    }
    .somecontent__content--iteam--txt2{
        font-size: 16px;
    }
    #instructor{
        padding: 0 40px;
    }
    #instructor__img{
        height: 500px;
    }
    #instructor__text--head{
        font-size: 24px;
    }
    #instructor__text--sub{
        font-size: 16px;
    }
    #course{
        padding: 40px;
    }
    #course__title{
        font-size: 24px;
        padding-bottom: 10px;
    }
    .course__card--content--price, .course__card--content--title{
        font-size: 16px;
    }
    .course__card--content--star:first-child{
        font-size: 14px;
    }
    .course__card--content--star:last-child{
        height: 24px;
    }
    #course__button--btn{
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
    #story__title{
        padding: 0 0 10px 40px;
    }
    #story__cards{
        padding: 0 40px 10px 40px;
    }
    .story__card{
        min-width: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .story__card--img{
        height: 120px;
        width: 120px;
    }
    .story__card--txt{
        padding: 10px;
    }
    .story__card--txt--title{
        text-align: center;
    }
    #collab{
        padding: 40px 0;
    }
    #collab__title{
        font-size: 24px;
    }
    #footer__info{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #footer__info--logo--title{
        font-size: 24px;
    }
    #footer__copyright--text{
        font-size: 16px;
    }
    #footer__copyright--icon a{
        width: 40px;
        height: 40px;
    }
    #footer__copyright--icon a img{
        width: 100%;
    }
}
@media screen and (max-width: 770px){
    #header{
        padding: 0 20px;
    }
    main{
        padding-top: 60px;
    }
    #overview{
        padding: 40px 20px;
        flex-direction: column;
    }
    #overview__img{
        width: 100%;
        height: 360px;
    }
    #description{
        padding: 40px 20px;
    }
    #description__about--text, #description__tagline--text{
        font-size: 10px;
    }
    #description__content{
        font-size: 20px;
    }
    #faculty{
        padding: 40px 20px;
    }
    #somecontent{
        padding: 40px 20px;
    }
    .somecontent__content--iteam{
        padding: 10px;
    }
    #instructor{
        padding: 0 20px 40px 20px;
        flex-direction: column;
    }
    #instructor__text{
        gap: 10px;
    }
    #instructor__img{
        height: 300px;
        overflow: hidden;
    }
    #instructor__img img{
        height: 400px;
    }
    #instructor__text--head, #instructor__text--sub{
        text-align: center;
    }
    #course{
        padding: 40px 20px;
    }
    #course__cards{
        grid-template-columns: 1fr;
    }
    .course__card--img{
        height: 100px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }
    #story{
        padding: 40px 0px;
    }
    #story__title{
        padding: 0 0 10px 20px;
    }
    #story__cards{
        padding: 0 20px 10px 20px;
    }
    .story__card{
        min-width: 360px;
    }
    .story__card--txt{
        padding: 0;
    }
    .footer{
        padding: 0 20px;
    }
    #footer__copyright--text{
        font-size: 16px;
    }
    #footer__info--about--title, #footer__info--learning--title, #footer__copyright--text, #footer__info--contact{
        font-size: 14px;
    }
    #footer__info--about--content, #footer__info--learning--content{
        font-size: 10px;
    }
    #footer__copyright--icon a{
        width: 24px;
        height: 24px;
    }
}
